*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(Imagens/neon.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.container{
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    margin: 14px;
    border-radius: 14px;
    box-sizing: 0 3px 5px rgba(0,0,0,0.5);    
    overflow: hidden;   
}

.header{
    background: linear-gradient(120deg, #0E0D1E, #0F65BC, #E4E4E5, #83838C);
    padding: 30px;
    text-align: center;
    color: #000000;
}


** {
  scrollbar-width: thin;
  scrollbar-color: #12A8FF #EBEBEB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 11px;
    width: 11px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #EBEBEB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #a8a8a8;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #34b0f8;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #0687ff;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #0080FF;
  }
  
.form{
    padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #dfdfdf;
}

.form-content a{
    position: absolute;
    left: 0;
    visibility: hidden;
    bottom: -8px;
}
/* Estilos para o botão de envio */
.form button{
    background-color: #0048ff;
    color: #fff;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

/* Estilo para o botão de envio quando o formulário for válido */
button[type="submit"].success {
  background-color: #008000; /* Verde */
  color: white;
}

/* Estilo para o botão de envio quando o formulário for inválido */
button[type="submit"].error {
  background-color: #ff0000; /* Vermelho */
  color: white;
}

/* Estilo para a mensagem de erro */
.form-content.error a {
  color: #ff0000; 
  font-size: 0.8em;
}

.form button:hover{
    background-color: #128bee;
}

.form-content.error input{
    border-color: #ff0000;
}

.form-content.error a{
    color: #ff0000;
    visibility: visible;
}